.detail {
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: white;
  color: black;
  transition: background-color 0.35s ease;
  background-image: radial-gradient(circle at center,
   rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 80%), 
  linear-gradient(to bottom right, rgba(173, 127, 168, 0.7), 
  rgba(173, 127, 168, 0.5) 50%, rgb(0, 253, 8) 50%, rgb(0, 253, 8));
}

  .detail .img {
   width: 120px;
   height: 140px;
   background: #ccc;
   border-radius: 15px;
   object-fit: cover;
   margin: auto;
   margin-top: 25px;
  }